.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px
}

.mvc-1,
.mvc-2,
.mvc-3,
.mvc-4,
.mvc-5,
.mvc-6,
.mvc-7,
.mvc-8,
.mvc-9,
.mvc-10,
.mvc-11,
.mvc-12 {
    grid-column: span 12;
    padding: 10px
}

.mvc-1-2{ grid-column: span 1/2; }.mvc-1-3{ grid-column: span 1/3; }.mvc-1-4{ grid-column: span 1/4; }.mvc-1-5{ grid-column: span 1/5; }.mvc-1-6{ grid-column: span 1/6; }.mvc-1-7{ grid-column: span 1/7; }.mvc-1-8{ grid-column: span 1/8; }.mvc-1-9{ grid-column: span 1/9; }.mvc-1-10{ grid-column: span 1/10; }.mvc-1-11{ grid-column: span 1/11; }.mvc-1-12{ grid-column: span 1/12; }
.mvc-2-3{ grid-column: span 2/3; }.mvc-2-4{ grid-column: span 2/4; }.mvc-2-5{ grid-column: span 2/5; }.mvc-2-6{ grid-column: span 2/6; }.mvc-2-7{ grid-column: span 2/7; }.mvc-2-8{ grid-column: span 2/8; }.mvc-2-9{ grid-column: span 2/9; }.mvc-2-10{ grid-column: span 2/10; }.mvc-2-11{ grid-column: span 2/11; }.mvc-2-12{ grid-column: span 2/12; }
.mvc-3-4{ grid-column: span 3/4; }.mvc-3-5{ grid-column: span 3/5; }.mvc-3-6{ grid-column: span 3/6; }.mvc-3-7{ grid-column: span 3/7; }.mvc-3-8{ grid-column: span 3/8; }.mvc-3-9{ grid-column: span 3/9; }.mvc-3-10{ grid-column: span 3/10; }.mvc-3-11{ grid-column: span 3/11; }.mvc-3-12{ grid-column: span 3/12; }
.mvc-4-5{ grid-column: span 4/5; }.mvc-4-6{ grid-column: span 4/6; }.mvc-4-7{ grid-column: span 4/7; }.mvc-4-8{ grid-column: span 4/8; }.mvc-4-9{ grid-column: span 4/9; }.mvc-4-10{ grid-column: span 4/10; }.mvc-4-11{ grid-column: span 4/11; }.mvc-4-12{ grid-column: span 3/12; }
.mvc-5-6{ grid-column: span 5/6; }.mvc-5-7{ grid-column: span 5/7; }.mvc-5-8{ grid-column: span 5/8; }.mvc-5-9{ grid-column: span 5/9; }.mvc-5-10{ grid-column: span 5/10; }.mvc-5-11{ grid-column: span 5/11; }.mvc-5-12{ grid-column: span 5/12; }
.mvc-6-7{ grid-column: span 6/7; }.mvc-6-8{ grid-column: span 6/8; }.mvc-6-9{ grid-column: span 6/9; }.mvc-6-10{ grid-column: span 6/10; }.mvc-6-11{ grid-column: span 6/11; }.mvc-6-12{ grid-column: span 6/12; }
.mvc-7-8{ grid-column: span 7/8; }.mvc-7-9{ grid-column: span 7/9; }.mvc-7-10{ grid-column: span 7/10; }.mvc-7-11{ grid-column: span 7/11; }.mvc-7-12{ grid-column: span 7/12; }
.mvc-8-9{ grid-column: span 8/9; }.mvc-8-10{ grid-column: span 8/10; }.mvc-8-11{ grid-column: span 8/11; }.mvc-8-12{ grid-column: span 8/12; }
.mvc-9-10{ grid-column: span 9/10; }.mvc-9-11{ grid-column: span 9/11; }.mvc-9-12{ grid-column: span 9/12; }
.mvc-10-11{ grid-column: span 10/11; }.mvc-10-12{ grid-column: span 10/12; }
.mvc-11-12{ grid-column: span 11/12; }

.mvc-block-flex{
    display:flex;
}

.mvc-flex-c{
  flex-direction: column;
}

.mvc-flex-r{
  flex-direction: row;
}

.mvc-left{
  text-align: left;
}

.mvc-center{
  text-align: center;
}

 /* 720px */
@media only screen and (min-width: 720px) { 
    

    .mvc-1 {
        grid-column: span 1
    }

    .mvc-2 {
        grid-column: span 2
    }

    .mvc-3 {
        grid-column: span 3
    }

    .mvc-4 {
        grid-column: span 4
    }

    .mvc-5 {
        grid-column: span 5
    }

    .mvc-6 {
        grid-column: span 6
    }

    .mvc-7 {
        grid-column: span 7
    }

    .mvc-8 {
        grid-column: span 8
    }

    .mvc-9 {
        grid-column: span 9
    }

    .mvc-10 {
        grid-column: span 10
    }

    .mvc-11 {
        grid-column: span 11
    }

    .mvc-12 {
        grid-column: span 12
    }
  
}